@model SpotifyWeb.Models.ViewModel.IndexVM
@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link rel="stylesheet" href="/css/webplayer.css" />
</head>
@*<div class="text-center">
    <h1 class="display-4">Web Music Player</h1>
    </div>*@

<div class="sidebar-div">
    <div class="sidebar">
        <h2>Spotify</h2>
        <ul class="nomargin">
            <li>
                <a href="#">
                    <i class="fas fa-house"></i>
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-magnifying-glass"></i>
                    <span>Search</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-heart"></i>
                    <span>Your Favourites</span>
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-list"></i>
                    <span>Create Playlist</span>
                </a>
            </li>
        </ul>
    </div>
    <div class="main">
        <section>
            <h2>Artists</h2>
            <div class="card" style="width: 13rem;">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/0/06/ComeAsYouAre.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </section>
        <section>
            <h2>Albums</h2>
            <div class="card" style="width: 13rem;">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/0/06/ComeAsYouAre.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </section>
        <section>
            <h2>Songs</h2>
            <div class="card" style="width: 13rem;">
                <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/0/06/ComeAsYouAre.jpg" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Card title</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    @*<a href="#" class="btn btn-primary">Go somewhere</a>*@
                </div>
            </div>
        </section>
        <h2>FIXEDDDDDDDDD SIDEBAR</h2>
        <p>lorem ipsum.................</p>
    </div>
</div>


<footer class="footer">


    <div class="music-container">
        <div class="music-info">
            <h4 id="title">Ukelele</h4>
            <div class="progress-container">
                <div class="progress"> </div>
            </div>
        </div>
        <audio src="music/Nirvana - Lithium.mp3" id="audio"></audio>
        <div class="img-container">
            <img src="image/music_background_2_203133.jpg" alt="music-cover" id="cover" />
        </div>
        <div class="navigation">
            <button id="prev" class="action-btn">
                <i class="fas fa-backward"></i>
            </button>
            <button id="play" class="action-btn action-btn-big">
                <i class="fas fa-play"></i>
            </button>
            <button id="next" class="action-btn">
                <i class="fas fa-forward"></i>
            </button>
            <button id="mute" class="action-btn">
                <i class="fas fa-volume-high"></i>
                @*<i class="fas fa-volume-xmark"></i>*@
            </button>
        </div>
        <div class="slider-cont">
            <div class="slider">
                <input type="range" min="0" max="100" value="50" />
                <progress min="0" max="100" value="50"></progress>
            </div>
            <div class="sliderValue">50</div>
        </div>
    </div>






    <script src="~/js/webplayer.js"></script>

</footer>


@*
    <form method="get" id="myform">
    <div class="row">
    <div class="form-group  col-md-4">
    <div class="form-group">
    <label asp-for="Genre"></label>
    <select asp-for="Genre" class="form-control">
    <option value="">All</option>
    @foreach (var song in Model.SongList)
    {
    <option value="@song.Genre">@song.Genre</option>
    }
    </select>
    </div>
    </div>
    <div class="form-group  col-md-4">
    <label asp-for="SearchTerm"></label>
    <input asp-for="SearchTerm" class="form-control" placeholder="Nirvana, Despacito ...">
    </div>

    <div class="form-group  col-md-4">
    <div class="form-group">
    <label asp-for="Sorting"></label>
    <select asp-for="Sorting" class="form-control">
    <option value="0" selected>Title</option>
    <option value="1">Year</option>
    <option value="2">Runtime</option>
    </select>
    </div>
    </div>
    <div class="form-group  col-md-4">
    <div class="form-group">
    <button type="submit" class="btn btn-info m-4">Submit</button>
    </div>
    </div>
    </div>
    </form>




    <div class="container-fluid">
    <div class="row">
    @foreach (var song in Model.SongList)
    {
    if (!@song.IsHidden)
    {
    <div class="card m-3" style="width: 18rem;">
    <img class="card-img-top" src="@song.ImageSongURL" alt="Card image cap">
    <div class="card-body">
    <h5 class="card-title">@song.Album.Artist.FName - @song.Title</h5>

    @{
    TimeSpan elapsed = TimeSpan.FromSeconds(@song.RuntimeInSeconds);
    string elapsedFormatted = elapsed.ToString(@"m\:ss");
    }
    <p class="float-left card-text">@song.ReleaseDate.Year</p>
    <p class="float-right">@elapsedFormatted</p>
    <audio controls>
    <source src="@song.SongUrl">
    </audio>
    </div>
    </div>
    }
    }
    </div>
    </div>
*@